{% extends 'base.html' %}
{% load static %}
{% block title %}<title>About | Tarot Reader - Preeti Mutreja</title>{% endblock title %}

{% block content %}
<div id="work"class="work">
</div>
<div id="about"  class="about">
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-md-5">
             <div class="about_img">
                <figure><img src="{% static '/images/about_img.jpg' %}" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-7">
             <div class="titlepage">
                <h2>About <span class="blu">Tarot Reader</span></h2>
                <p>Certified and expert Tarot reader <strong>Preeti Mutreja</strong> with more than 4 years of experience in healing, prediction and remedies to problems.
                Discovering and enhancement of positive energies and vibes to comfort the people. Giving personal guidence on 1 to 1 session for predictions and solution to your past, present and future.
             generate positive energies around and boost self confidence through psychic reading and solutions </p>
                <a class="read_more" href="#About">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="work"class="work">
</div>
 {% endblock content%}