{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Services | Tarot Reader - Preeti Mutreja</title>{% endblock title %}

{% block content %}
<!-- choose  section -->
<div id="work"class="work">
</div>
    <div class = "container">
        <div class ="titlepage">
            <center>
            <h2> Services <span class="blu"> Offered </span></h2></center>
         </div>
       <div class="card-deck">
          <div class="card">
          <img src="https://unsplash.it/500/500/" class="card-img-top" alt="...">
          <div class="card-body">
             <h1 class="card-title"><centre>Basic Deep Prediction</center></h1>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer"><center>
            <a class="read_more" href={% url 'contact.html' %}>Book Now</a></center>
          </div>
          </div>
          <div class="card">
          <img src="https://unsplash.it/500/500/" class="card-img-top" alt="...">
          <div class="card-body">
             <h1 class="card-title"><center>Bronze Prediction</center></h1>
             <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer"><center>
            <a class="read_more" href={% url 'contact.html' %}>Book Now</a></center>
          </div>
          </div>
          <div class="card">
          <img src="https://unsplash.it/500/500/" class="card-img-top" alt="...">
          <div class="card-body">
             <h1 class="card-title"><center>Gold Deep Prediction</center></h1>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer"><center>
            <a class="read_more" href={% url 'contact.html' %}>Book Now</a></center>
          </div>
          </div>
       </div>
       <br>
       <div class="card-deck">
          <div class="card">
          <img src="https://unsplash.it/500/500/" class="card-img-top" alt="...">
          <div class="card-body">
             <h1 class="card-title"><centre>Candle Wax kesar Prediction with Remedy</center></h1>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer"><center>
            <a class="read_more" href={% url 'contact.html' %}>Book Now</a></center>
          </div>
          </div>
          <div class="card">
          <img src="https://unsplash.it/500/500/" class="card-img-top" alt="...">
          <div class="card-body">
             <h1 class="card-title"><center>Angels Prediction</center></h1>
             <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer"><center>
            <a class="read_more" href={% url 'contact.html' %}>Book Now</a></center>
          </div>
          </div>
          <div class="card">
          <img src="https://unsplash.it/500/500/" class="card-img-top" alt="...">
          <div class="card-body">
             <h1 class="card-title"><center>Platinum Deep Prediction</center></h1>
             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer"><center>
            <a class="read_more" href={% url 'contact.html' %}>Book Now</a></center>
          </div>
          </div>
       </div>
    </div>
 </div>
 <div id="work"class="work">
</div>


 {% endblock content%}